.title:link {
  text-decoration: none;
  color: black;
}

.title:visited {
  text-decoration: none;
  color: black;
}

.title:hover {
  text-decoration: none;
  color: black;
}

.title:active {
  text-decoration: none;
  color: black;
}